/* variables */
:root {
  --primary: #aae5ff;
  --secondary: #fff;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
*,
*::before,
*::after,
pre {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles (not view specific styles) */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

body {
  font-family: "Jost", sans-serif;
  color: #000;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  color: #000;
  font-weight: normal;
}

/* mobile styles */
header div.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  background-color: var(--primary);
}

nav a img {
  width: 20px;
}

nav .mobile {
  display: flex;
  /* flex-direction: column-reverse; */
  width: 214px;
}

nav .desktop {
  display: none;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
}
/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  nav.icon {
    display: none;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  nav.icon {
    display: none;
  }
}
